<div class="contact_wrapper-{{ id }}">
  <div class="c-top-{{ id }}">
    <div class="icons-{{ id }}">{% render 'all-icons', name: "message" %}</div>
    <h2>Live Chat</h2>
  </div>
  <h5 class="active-{{ id }}">{% render 'all-icons', name: "active" %}Live</h5>
  <p>Mon. - Fri. 7:00 AM - 7:00 PM<br>Sat. - Sun. CLOSED</p>
  <h3>Pacific Standard Time</h3>
  <a class="black__btn chat-{{ id }}">{% render 'all-icons', name: "chat" %}Let's chat</a>
  <h6>Generally respond in a few minutes</h6>
</div>