{% comment %}
  {% render 'smile-left-caption',
    title: block.settings.title,
    content: block.settings.content,
    position_from_top: block.settings.position_from_top,
    position_from_left: block.settings.position_from_left,
    serial: forloop.index
  %}
{% endcomment %}
<div
  class="single_caption single_caption_{{ serial }}"  data-aos="fade-right" 
  style="top : {{ position_from_top| append:'%' }}; left : {{ position_from_left| append:'%' }}; "
>
 

  <div class="single-caption-text-block">
    <h4>{{ title }}</h4>
    <p>{{ content }}</p>
  </div>
  <span class="caption-right-arrow ">
    {%- render 'smile-all-icons', name: 'caption-left' -%}
  </span>
</div>
