{% assign id = section.id %}

<style>
        .custom_contact--{{ id }} {
           margin-top: {{ section.settings.margin_top }}px;
           margin-bottom: {{ section.settings.margin_bottom }}px;
           padding-top: {{ section.settings.padding_top }}px;
           padding-bottom: {{ section.settings.padding_bottom }}px;
           display: grid;
           grid-template-columns: 2.3fr 1fr;

          }
        .faq_form-{{ id }} {
          max-width: 660px;
          justify-self: center;
        }
        .line-{{ id }} {
          border-bottom: 1px solid #0000002b;
          padding-bottom: 40px;
        }
      /* faq style starts here */
        .faq_wrapper-{{ id }} h2,
        .contact-{{ id }} h1{
          font-size: 28px;
          line-height: normal;
          color: rgb(92, 67, 154);
          margin: 15px 0;
        }
        .contact-{{ id }} {
          max-width: 250px;
          margin: 0 auto;
        }
        .contact_wrapper-{{ id }} h3{
            margin: 10px 0;
            font-size: 15px;
            line-height: 20px;
            color: rgb(150, 150, 150);
        }
        .faq-{{ id }} {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 92%;
          margin: auto;
        }
        .faq-btn-{{ id }}  {
          background: #fff !important;
          color: rgb(89, 89, 89) !important;
          border: 1px solid #000;
          font-size: 14px;
          line-height: 17px;
          font-weight: 700 !important;
        }

        .faq-btn-{{ id }}:hover  {
          background: #6f60e9 !important;
          color: #fff !important;
          border: none;
        }
        .faq_wrapper-{{ id }} .navigation_text {
          font-size: 12px;
          line-height: 12px;
          font-weight: normal;
          color: rgb(61, 155, 233);
          cursor: pointer;
          display: flex;
          justify-content: end;
          margin: 20px 0;
          padding-top: 2px;
          border-top: 1px solid #00000029;
        }
  /* ..faq style ends here .....................................................*/
  /* ..email us style starts here.............................................. */
        .contact_wrapper-{{ id }} a{
          text-decoration: none;
          font-size: 17px;
          color: rgb(111, 96, 233);
        }
        .contact_wrapper-{{ id }} p{
          color: #000;
          font-size: 15px;
          line-height: 18px;
        }
        .contact_wrapper-{{ id }} h6{
          margin: 0;
          font-size: 11px;
          line-height: 12px;
          font-weight: normal;
          font-style: italic;
          color: rgb(117, 117, 117);
          text-align: center;
        }
        .active-{{ id }} {
          fill: darkgreen;
          font-size: 19px;
          line-height: 23px;
          color: rgb(95, 199, 204);
          font-weight: normal;
        }
        .icons-{{ id }} {
          width: 39px;
          height: 27px;
        }
        .icons-{{ id }} svg{
          width: 39px;
          height: 27px;
          filter: grayscale(1);
        }
        .black__btn {
          background: #000;
          color: #fff !important;
          font-size: 12px !important;
          line-height: 12px;
          font-weight: 700;
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease-in-out;
          border-radius: 23px;
        }
        .black__btn:hover {
          background: #fff;
          color: #000 !important;
          border: 1px solid #000;
        }
        .chat-{{ id }} svg{
          filter: invert(1);
          margin: 0 5px 00 0;
        }
      /* email us style ends here */
        .c-top-{{ id }} {
            display: flex;
            gap: 6px;
            align-items: center;
            margin-top: 20px;
        }
        .icon-{{ id }} svg{
          width: 55px;
          height: 44px;
          filter: grayscale(1);
        }
      .wrapper-{{ id }} {
        padding-bottom: 80px;
      }
      .wrapper-{{ id }} h2{
        text-align: center;
        margin: 0;
        font-size: 33px;
        line-height: 33px;
        color: rgb(61, 45, 103);
      }
        .wrapper-{{ id }} p{
          font-size: 16px;
          line-height: 26px;
          color: #000;
          text-align: justify;
          margin: 15px 0;
        }
        .wrapper-{{ id }} p a{
          color: rgb(0, 166, 165);
          text-decoration: none;
        }
        .container-{{ id }} {
          max-width: 914px;
          background: #fff;
          border-radius: 30px;
          margin: auto;
          padding: 50px 0;
          box-shadow: 0px 0px 5px #e0cece;
        }
        .form-{{ id }} {
          display: flex;
          flex-direction: column;
          width: 88%;
          margin: auto;
        }
        .form-{{ id }} input{
          height: 50px;
          max-width: 100%;
          border-radius: 25px;
          border: none;
          background: #F7F6F6;
          padding: 0  0 0 20px;
          font-size: 14px;
          line-height: 20px;
          color: #000;
        }
        .field__inputx {
          width: 100%;
        }
        .form-{{ id }} input:focus,
        .form-{{ id }} textarea{
          border: 1px solid #000;
        }
        .form-{{ id }} textarea{
          font-size: 14px;
          line-height: 20px;
          height: 76px;
          max-width: 100%;
          border-radius: 20px;
          border: none;
          color: #000;
          background: #F7F6F6;;
          margin-top: 20px;
          padding: 15px 0  0 20px;
        }
        .input-wp{{ id }} {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
        }
       .btn_{{ id }}{
          display: grid;
        }
        .btn_{{ id }} input{
          justify-self: end;
          width: 210px;
          font-size: 16px;
          text-decoration: none;
          background: rgb(111,96,233);
          letter-spacing: 1px;
          height: 41px;
          line-height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-radius: 30px;
          transition: background .2s,color .2s;
          cursor: pointer;
          outline: none;
        }
        .btn_{{ id }} input:hover{
          background: #fff;
          color: #000;
          border: 1px solid #000;
        }
        .checkbox-{{ id }} {
          display: flex;
          align-items: center;
        }
        .checkbox-{{ id }} p{
          font-size: 14px;
          line-height: 26px;
          color: rgb(83, 70, 130);
          margin: 15px 15px;
        }
        .checkbox-{{ id }} p a{
          text-decoration: underline;
          color: inherit;
        }
      @media screen and (max-width: 890px){

       .custom_contact--{{ id }} {
         margin-top: {{ section.settings.margin_top-m }}px;
         margin-bottom: {{ section.settings.margin_bottom-m }}px;
         padding-top: {{ section.settings.padding_top-m }}px;
         padding-bottom: {{ section.settings.padding_bottom-padding_bottom-m }}px;
         display: flex;
         flex-direction: column-reverse;
        }
        .c-top-{{ id }} h2{
          margin: 0;
          font-size: 27px;
          line-height: 30px;
          font-weight: 600;
        }
        .contact-{{ id }} h1{
          text-align: center;
          margin: 15px auto;
          padding: 0;
          border-bottom: 3px solid rgb(95 199 204 / 73%);
          width: 65%;
         }
          .black__btn {
            width: 50%;
            margin: auto;
          }
          .faq-{{ id }} {
            width: 100%;
          }
          .faq-btn-{{ id }}  {
            font-size: 11px;
            line-height: 12px;
            padding: 15px 0px 15px 5px !important;
            border-radius: 41px !important;
          }
          .contact-{{ id }} {
            max-width: unset;
          }
          .container-{{ id }} {
            padding: 20px 15px;
            width: 90%;
            margin: auto;
          }
         .wrapper-{{ id }} h2{
            font-size: 32px;
            line-height: 32px;
          }
          .wrapper-{{ id }} p{
            font-size: 14px;
            line-height: 22px;
            padding: 0 15px;
          }
          .form-{{ id }} {
            width: 100%;
          }
          .input-wp{{ id }} {
            grid-template-columns: 1fr;
            gap: 15px;
          }
         .checkbox-{{ id }} p{
            font-size: 12px;
            line-height: 16px;
            padding: 0;
            text-align: justify;
         }
        .btn_{{ id }} input{
              width: 100%;
         }
      }
</style>

<section class="custom_contact--{{ id }} page-width">
  <div class="faq_form-{{ id }}">
    <!-- popular Questions starts here -->
    <div class="faq_wrapper-{{ id }}">
      <h2>{{ section.settings.title_faq }}</h2>
      <div class="faq-{{ id }}">
        {% for block in section.blocks %}
          {% if block.settings.fp_btntext %}
            <a class=" faq-btn-{{ id }} blue-button-1" href="{{ block.settings.fp_url }}">
              {{- block.settings.fp_btntext -}}
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <a href="{{ section.settings.url_faq-btn }}" class="navigation_text">{{ section.settings.nav_faq }} ></a>
    </div>
    <!-- popular Questions starts here -->
    <!-- contact form ends here -->
    <div class="wrapper-{{ id }}">
      <div class="c-top-{{ id }}">
        <div class="icon-{{ id }}">{% render 'all-icons', name: 'ticket' %}</div>
        <h2>{{ section.settings.title }}</h2>
      </div>
      <p>{{ section.settings.desc }}</p>
      <div class="container-{{ id }}">
        {% render 'custom-contact-form', id: id %}
      </div>
    </div>
    <!-- contact form ends here -->
  </div>
  <div class="contact-{{ id }}">
    <h1>{{ section.settings.title_contact }}</h1>
    <div class="line-{{ id }}">{% render 'email-us', id: id %}</div>
    <div class="line-{{ id }}">{% render 'live-chat', id: id %}</div>
    {% render 'call-us', id: id %}
  </div>
</section>

{% schema %}
{
  "name": "Custom contact us",
  "settings": [
    {
      "type": "header",
      "content": "Faq (Popular Questions)"
    },
    {
      "id": "title_faq",
      "type": "textarea",
      "label": "Add Title"
    },
    {
      "id": "url_faq-btn",
      "type": "url",
      "label": "Add Url faq "
    },
    {
      "id": "nav_faq",
      "type": "textarea",
      "label": "Add Navigation Text"
    },
    {
      "type": "header",
      "content": "Contact (Form)"
    },
    {
      "id": "title",
      "type": "textarea",
      "label": "Add Title"
    },
    {
      "id": "desc",
      "type": "richtext",
      "label": "Add Description"
    },
    {
      "id": "policy",
      "type": "richtext",
      "label": "Add Policy Text"
    },
    {
      "id": "btn_text",
      "type": "textarea",
      "label": "Add Button text"
    },
    {
      "type": "header",
      "content": "Contact Us"
    },
    {
      "id": "title_contact",
      "type": "textarea",
      "label": "Add Title",
      "default":"Contact Us"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 4
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 8
    },

    {
      "type": "header",
      "content": "Spacing (Mobile)"
    },
    {
      "type": "range",
      "id": "margin_top-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top  (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom-m",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom  (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
        "type": "text",
        "name": "Faq",
        "settings": [
          {
            "type": "textarea",
            "id": "fp_btntext",
            "label": "Add faq Title"
          },
          {
            "type": "url",
            "id": "fp_url",
            "label": "Add Faq Url"
          }
        ]
      }
  ],
  "presets":[
    {
      "name": "Custom contact us"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
