{% liquid
  assign id = section.id
  assign settings = section.settings
  assign blocks = section.blocks
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }
  .wrapper-{{ id }} {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .item-{{id}} {
    width: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .item-{{id}} img{
    width: 35px;
    height: 35px;
  }
  .text-{{ id }} {
    font-size: 10px;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    padding: 0;
    letter-spacing: 0px;
  }
  .heading-{{ id }} {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    color: #1b0177;
    margin: 0 0 20px 0;
    text-align: center;
  }

  @media(max-width: 768px) {
    .wrapper-{{id}} {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .item-{{id}} {
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .text-{{ id }} {
      font-size: 14px;
      margin: 0;
      text-align: center;
      line-height: 1.5;
      padding: 0;
      letter-spacing: 0px;
    }
    .item-{{id}} img{
      width: 40px;
      height: 40px;
    }
  }
</style>


<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    {% unless section.settings.heading == blank %}
      <h2 class="heading-{{ id }}">{{ section.settings.heading }}</h2>
    {% endunless %}
    <div class="wrapper-{{ id }}">
      {% for block in section.blocks %}
        <div class="item-{{ id }}">
          {% unless block.settings.image == blank %}
            {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy' }}
          {% endunless %}
          <div class="text-{{ id }}">{{ block.settings.text }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "List of Icons",
    "templates": ["page"],
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width Section",
        "default": true
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "heading",
        "default": "Discover the Secret to Perfect Skin"
      },
      {
        "type": "header",
        "content": "Section Spacing Desktop"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 24
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Section Spacing Mobile"
      },
      {
        "type": "range",
        "id": "margin_top_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Top",
        "default": 24
      },
      {
        "type": "range",
        "id": "margin_bottom_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 24
      },
      {
        "type": "range",
        "id": "padding_top_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom_m",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "List of Icons"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}