<style>
    .section-container--{{ section.id }}{
      margin-top: {{ section.settings.margin_top | append:'px' }};
      margin-bottom: {{ section.settings.margin_bottom | append:'px' }};
      padding-top: {{ section.settings.padding_top | append:'px' }};
      padding-bottom: {{ section.settings.padding_bottom | append:'px' }};
      /* overflow: hidden; */
      background-image: linear-gradient(to right, #60dbd9 50% , #cfcff5 50%);
    }
    .section-wrapper--{{ section.id }} {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(6,.1fr);
      position: relative;
      margin-block: 10px;
    }
    .section-wrapper--{{ section.id }} p {
        margin-block: 0;
    }
.section-container--{{ section.id }}  .shop-banner-title {
      grid-column: 1/2;
      grid-row: 2/3;
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 1.3em;
      text-decoration: underline;
  }
.section-container--{{ section.id }}  .shop-banner-title a{
      text-decoration: none;
      color: #ffe180;
      cursor: text;
  }
.section-container--{{ section.id }}  p.shop-banner-subheading_1 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #F67CDE;
    font-size: 22px;
    font-weight: 700;
    text-shadow: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
}
.section-container--{{ section.id }}  .shop-banner-content {
      grid-column: 1/2;
      grid-row: 4/5;
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      margin-block: 25px;
      max-width: 400px;
  }
.section-container--{{ section.id }}  .shop-banner-content_2 {
    grid-column: 1/2;
    grid-row: 3/4;
    color: #000000;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 600;
    margin-block: 5px;
  }
.section-container--{{ section.id }} .shop-banner-content_2 a {
    color: #6f60e9;
    text-decoration: none;
    cursor: text;
    font-size: 17px;
    line-height: 1.6em;
}
.section-container--{{ section.id }}  p.shop-banner-subheading_2 {
      /* grid-column: 1/2;
      grid-row: 4/5;
        color: #5c439a;
      font-size: 13px;
      font-weight: 600; */
  }
.section-container--{{ section.id }} .shop-banner-icon-block {
      grid-column: 1/2;
      grid-row: 6/7;
  }

.section-container--{{ section.id }} .shop-banner-1-button {
      grid-column: 1/2;
      grid-row: 5/6;
      max-width: fit-content;
  }
.section-container--{{ section.id }}  a.blue-button-1.shop-banner-1-button {
      padding: 10px 25px;
      font-size: 16px;
      font-weight: 600;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper {
      display: flex;
      align-items: center;
      z-index: 1;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper  svg{
    max-width: 50px;
    max-height: 50px;
    transform: translateX(-5px);
    z-index: -1;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper p {
      background: #fff;
      border: 1px solid #0000009e;
      border-radius: 20px;
      padding: 10px;
      max-width: 300px;
      color: #000;
      font-size: 12px;
      line-height: 1.2;
  }

.section-container--{{ section.id }}  .shop-banner-right-image-wrapper {
      grid-column: 2/-1;
      grid-row: 1/-1;
      text-align: right;
  }
.section-container--{{ section.id }} .shop-banner-right-image-wrapper img {
      max-width: 100%;
      max-height: 100%;
      transform: scale(1.2) ;
  }
/* Icon Block Start   */
      .section-container--{{ section.id }} .shop-banner-icon-block {
        display: flex;
        justify-content: space-around;
        padding-block: 15px;
        max-width: 400px;
        /* color: #5C439A; */
    }
    .section-container--{{ section.id }} .single-banner-icon-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-container--{{ section.id }} .single-banner-icon-block  svg {
        width: 40px;
        height: 40px;
    }
    .section-container--{{ section.id }} .single-banner-icon-block svg path {
        fill: #5C439A;
    }
    .section-container--{{ section.id }} .single-banner-icon-block span {
        font-size: 10px;
        font-weight: 700;
        color: #000000;
    }
/* Icon Block End   */
/* Caption Position Start */
  .section-container--{{ section.id }}  .shop-caption-1 {
    position: absolute;
    right: 300px;
    top: 0%;
  }
.section-container--{{ section.id }}  .shop-caption-2 {
      position: absolute;
      right: 450px;
      top: 70%;
  }
/* Caption Position End */
    @media screen and (max-width: 768px){
      .section-container--{{ section.id }}{
        margin-top: {{ section.settings.margin_top_mobile | append:'px' }};
        margin-bottom: {{ section.settings.margin_bottom_mobile | append:'px'  }};
        padding-top: {{ section.settings.padding_top_mobile | append:'px' }};
        padding-bottom: {{ section.settings.padding_bottom_mobile | append:'px' }};
        background-image: linear-gradient(to bottom, #60dbd9 70% , #cfcff5 60%);
      }
    .section-wrapper--{{ section.id }} {
      display: grid;
      /* grid-template-columns: repeat(2,1fr); */
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7,.1fr);
      position: relative;
      margin-top: 0;
    }

  .section-wrapper--{{ section.id }} p {
      margin-block: 0;
  }
.section-container--{{ section.id }} .shop-banner-title {
      grid-column: 1/-1;
      grid-row: 2/3;
      font-size: 30px;
      line-height: 1;
      
}

.section-container--{{ section.id }}  p.shop-banner-subheading_1 {
      grid-column: 1/-1;
      grid-row: 1/2;
}
.section-container--{{ section.id }} .shop-banner-content_2 {
      grid-column: 1/-1;
      grid-row: 3/4;
      margin-block: 15px;
      font-size: 18px;
}
.section-container--{{ section.id }} .shop-banner-content_2 a{
      line-height: 1em;
}
.section-container--{{ section.id }} .shop-banner-content {
      grid-column: 1/-1;
      grid-row: 4/5;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      margin-block: 20px;
      max-width: 400px;
  }

.section-container--{{ section.id }} .shop-banner-icon-block {
    grid-column: 1/-1;
    grid-row: 7/8;
    padding-top: 0px;
}      
.section-container--{{ section.id }} .single-banner-icon-block  svg {
        width: 30px;
        height: 30px;
}   
.section-container--{{ section.id }} .single-banner-icon-block span {
    font-size: 10px;
    margin-block: 5px;
}
.section-container--{{ section.id }} .shop-banner-image-wrapper {
      grid-column: 1/-1;
      grid-row: 5/6;
  }
.section-container--{{ section.id }} .shop-banner-image-wrapper img {
      width: 100%;
      margin-block: 5px;
  }
.section-container--{{ section.id }} .shop-banner-right-image-wrapper {
      grid-column: 1/-1;
      grid-row: 6/7;
      text-align: center;
      min-height: 300px;
      align-self: end;
      margin-top: 50px;
      margin-block: -30px;
  }
.section-container--{{ section.id }} .shop-banner-right-image-wrapper img {
      transform: scale(.8) translateY(0px) translateX(70px);
  }
.section-container--{{ section.id }} .shop-banner-1-button {
      grid-column: 1/-1;
      grid-row: 5/6;
      max-width: fit-content;
  }
.section-container--{{ section.id }}  a.blue-button-1.shop-banner-1-button {
      height: fit-content;
      align-self: end;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper {
      max-width: 175px;
      flex-direction: column;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper p {
      font-size: 10px;
      max-width: 150px;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper  svg {
    max-width: 40px;
    max-height: 40px;
    transform: translateX(-0px) translateY(-5px) rotate(90deg);
    z-index: -1;
}
.section-container--{{ section.id }}  .shop-caption-wrapper.shop-caption-2 {
      flex-direction: row;
  }
.section-container--{{ section.id }}  .shop-caption-wrapper.shop-caption-2  svg {
    transform: translateX(-0px) translateY(-5px) rotate(0deg);
}
      
.section-container--{{ section.id }}  .shop-caption-1 {
    right:10px;
    top:250px;
  }
.section-container--{{ section.id }}  .shop-caption-2 {
    right:200px;
    top:400px;
  }

    }

 @media screen and (max-width: 768px){
   .section-wrapper--{{ section.id }}.page-width {
      padding-inline: 1.5rem;
    }
 }  
 @media screen and (min-width: 769px) and (max-width: 1600px){ 
   .section-wrapper--{{ section.id }}.page-width {
      padding-inline: 10rem;
    }
 }  
 @media screen and (min-width: 1601px) { 
   .section-wrapper--{{ section.id }}.page-width {
      padding-inline: 20rem;
    }
 }  
</style>
<section class="section-container--{{ section.id }}">
  <div class="section-wrapper--{{ section.id }} page-width">
    <div class="shop-banner-title">{{ section.settings.title }}</div>
    <p class="shop-banner-subheading_1">{{ section.settings.subheading_1 }}</p>
     <div class="shop-banner-content_2">{{ section.settings.content2 }}</div>
    <div class="shop-banner-content">{{ section.settings.content }}</div>
    <!-- <p class="shop-banner-subheading_2">{{ section.settings.subheading_2 }}</p> -->
    {% unless section.settings.image == blank %}
      <div class="shop-banner-image-wrapper">
        {{ section.settings.image | img_url: 'master' | img_tag }}
      </div>
    {% endunless %}
    <a class="blue-button-1 shop-banner-1-button" href="{{ section.settings.button_url }}">
      {{ section.settings.button_text }}
    </a>
    <div class="shop-banner-icon-block">
              <div class="single-banner-icon-block">
                {% render 'smile-all-icons', name: 'dentist' %}
                <span>Color Correcting</span>
              </div>
              <div class="single-banner-icon-block">
                {% render 'smile-all-icons', name: 'result' %}
                <span>Results in 3 Days</span>
              </div>
              <div class="single-banner-icon-block">
                {% render 'smile-all-icons', name: 'safe' %}
                <span>Safe for Daily Use</span>
              </div>
            </div>
    {% for block in section.blocks %}
      <div data-aos="fade-right" class=" shop-caption-1 shop-caption-wrapper">
        {{ block.settings.caption_1 }}
        {% render 'smile-all-icons', name: 'caption_new' %}
      </div>
      <div data-aos="fade-right"  class="shop-caption-2 shop-caption-wrapper">
        {{ block.settings.caption_2 }}
        {% render 'smile-all-icons', name: 'caption_new' %}
      </div>
      <div class="shop-banner-right-image-wrapper">
        {{ block.settings.image | img_url: 'master' | img_tag }}
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Smile Shop Banner-3",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subheading_1",
      "label": "Sub Heading 1"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Content 2"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Url"
    },
    {
      "type": "header",
      "content": "Desktop Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 10
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Spacing"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 10
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top  (Mobile)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom  (Mobile)",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Image Block",
      "type": "image_block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "caption_1",
          "label": "Caption 1"
        },
        {
          "type": "richtext",
          "id": "caption_2",
          "label": "Caption 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Smile Shop Banner-3"
    }
  ]
}
{% endschema %}
